<div class="w-1/4 pl-4">
  {% for category in site.categories %}
  <div class="flex flex-wrap">
    <h3>{{ category[0] }}</h3>
    {% for post in category[1] %}
    {% if page.url!=post.url %}
    <div class="flex">
      <div
        class="w-12 h-12 inline-flex items-center justify-center flex-shrink-0">
        <a href="{{ post.url }}"><img src="{{ post.thumb }}" alt="{{ post.title }}"></a>
      </div>
      <div class="flex-grow pl-2">
        <a href="{{ post.url }}"><h3 class="text-gray-900 text-lg title-font mb-2">{{ post.title }}</h3></a>
        <p>{{ post.priceText }}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}

</div>