---
layout: default
---
<script type="application/ld+json">
  {"@context":"https://schema.org/","@type":"Product","name":"{{ page.title }}","image":["https://tipici.vn{{ page.image }}"],"description":"{{ page.excerpt | strip_html }}","sku":"{{ page.sku }}","mpn":"{{ page.sku }}","brand":{"@type":"Thing","name":"Sinh Tài"},"review":{"@type":"Review","reviewRating":{"@type":"Rating","ratingValue":"5","bestRating":"5"},"author":{"@type":"Person","name":"A.Thành"}},"aggregateRating":{"@type":"AggregateRating","ratingValue":"5.0","reviewCount":"89"},"offers":{"@type":"Offer","url":"https://tipici.vn/{{ page.url }}","priceCurrency":"VND","price":"{{ page.price }}","priceValidUntil":"2020-11-25","itemCondition":"https://schema.org/UsedCondition","availability":"https://schema.org/InStock","seller":{"@type":"Organization","name":"{{ site.name }}"}}}
</script>

<section class="text-gray-600 body-font" id="blog-details">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-3/4">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="single-blog blog-details">
            <div class="post-thumb">
              <img src="{{ page.image }}" class="w-full" alt="{{ page.title }}">
              <div class="h-full flex items-start mt-6">
                <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                  <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">{{ page.date | date: "%e" }}</span>
                  <span class="font-medium text-lg text-gray-800 title-font leading-none">{{ page.date | date: "T%l" }}</span>
                </div>
                <div class="flex-grow pl-6">
                  <h1 class="title-font text-xl font-medium text-gray-900 mb-3">{{ page.title }}</h1>
                  <p class="leading-relaxed mb-5">{{ page.priceText }}</p>
                </div>
              </div>
            </div>
            <div class="post-content overflow">
              {{ content }}
              <div class="post-bottom overflow">
                <ul class="nav navbar-nav post-nav">
                  {% for category in page.categories %}
                  <li><a href="#"><i class="fa fa-tag"></i>{{ category }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% include disqus.html %}

            </div>
          </div>
        </div>
      </div>
    </div>
    {% include sidebar.html %}
  </div>
</section>
<!--/#blog-->